# pm10/pm25 데이터 상관성 파악하기

In [ ]:
import pandas as pd

In [21]:
# pm 10 데이터 추출하여 가공하는 함수 생성

def dust_mean_10(raw) :
    date_list = []
    hour_list = []
    min_list = []
    for i in raw.tm :
        date_list.append(str(i)[:8])
    for i in raw.tm :
        hour_list.append(str(i)[8:10])
    for i in raw.tm :
        min_list.append(str(i)[10:])

    # 리스트 세개를 합쳐 새로운 dataframe 생성
    split_df = pd.DataFrame({"date":date_list,
                            "hour":hour_list,
                            "min":min_list})

    # pm10열 가져와서 병합
    raw = raw.loc[:,'pm10']
    result = pd.concat([split_df,raw], axis=1)
    
    # 결측치(-999, -9999) 제거
    result = result.loc[(result.pm10!=-999)&(result.pm10!=-9999),:]
    
    # 이상치 제거
    df = result['pm10'].describe()
    top_out = df[-2]+(df[-2]-df[-3])*1.5
    down_out = df[4]-(df[-2]-df[-3])*1.5
    result = result.loc[(result.pm10>=down_out)&(result.pm10<=top_out),:]

    grouped = result.groupby(result.date)
    result_date_mean = grouped.mean()
    
    return result_date_mean

In [22]:
# pm 25 데이터 추출하여 가공하는 함수 생성

def dust_mean_25(raw) :
    date_list = []
    hour_list = []
    min_list = []
    for i in raw.tm :
        date_list.append(str(i)[:8])
    for i in raw.tm :
        hour_list.append(str(i)[8:10])
    for i in raw.tm :
        min_list.append(str(i)[10:])

    # 리스트 세개를 합쳐 새로운 dataframe 생성
    split_df = pd.DataFrame({"date":date_list,
                            "hour":hour_list,
                            "min":min_list})

    # pm 25 열 가져와서 병합
    raw = raw.loc[:,'pm25']
    result = pd.concat([split_df,raw], axis=1)
    
    # 결측치(-999, -9999) 제거
    result = result.loc[(result.pm25!=-999)&(result.pm25!=-9999),:]
    
    # 이상치 제거
    df = result['pm25'].describe()
    top_out = df[-2]+(df[-2]-df[-3])*1.5
    down_out = df[4]-(df[-2]-df[-3])*1.5
    result = result.loc[(result.pm25>=down_out)&(result.pm25<=top_out),:]

    grouped = result.groupby(result.date)
    result_date_mean = grouped.mean()
    
    return result_date_mean

In [3]:
# 노원구와 종로구 raw 데이터 파일 경로 리스트 생성
from os import listdir
from os.path import isfile, join

files_n = [f for f in listdir('D:/DataScience/data/미세먼지/노원구_원본/') if isfile(join('D:/DataScience/data/미세먼지/노원구_원본/', f))]
files_j = [f for f in listdir('D:/DataScience/data/미세먼지/종로구_원본/') if isfile(join('D:/DataScience/data/미세먼지/종로구_원본//', f))]
        
file_path_list_n = []
for file in files_n :
    path = 'D:/DataScience/data/미세먼지/노원구_원본/'
    file_path_list_n.append(path+file)

file_path_list_j = []
for file in files_j :
    path = 'D:/DataScience/data/미세먼지/종로구_원본/'
    file_path_list_j.append(path+file)

In [4]:
file_path_list_n

['D:/DataScience/data/미세먼지/노원구_원본/공릉2동172.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/상계10동.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/상계1동.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/상계2동332.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/상계2동397.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/상계34동.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/상계5동156.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/상계5동456.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/상계67동734.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/상계67동740.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/상계67동767.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/월계1동.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/월계3동.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/중계23동.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/중계본동.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/하계1동251.csv',
 'D:/DataScience/data/미세먼지/노원구_원본/하계1동280.csv']

In [5]:
file_path_list_j

['D:/DataScience/data/미세먼지/종로구_원본/교남동.csv',
 'D:/DataScience/data/미세먼지/종로구_원본/명동.csv',
 'D:/DataScience/data/미세먼지/종로구_원본/숭인2동.csv',
 'D:/DataScience/data/미세먼지/종로구_원본/창신1동170.csv',
 'D:/DataScience/data/미세먼지/종로구_원본/평창동.csv',
 'D:/DataScience/data/미세먼지/종로구_원본/혜화동1.csv',
 'D:/DataScience/data/미세먼지/종로구_원본/혜화동72.csv']

In [7]:
# 종로구 데이터 업로드(변수저장)
from tqdm import tqdm_notebook
for file in tqdm_notebook(file_path_list_j) :
    exec("%s = pd.read_csv('%s')" %(file.split("/")[-1].split(".")[0],file))

HBox(children=(IntProgress(value=0, max=7), HTML(value='')))

In [8]:
# 노원구 데이터 업로드(변수저장)
from tqdm import tqdm_notebook
for file in tqdm_notebook(file_path_list_n) :
    exec("%s = pd.read_csv('%s')" %(file.split("/")[-1].split(".")[0],file))

HBox(children=(IntProgress(value=0, max=17), HTML(value='')))

In [23]:
# 변수저장된 노원구 데이터 pm10과 pm25 데이터 가공 함수 적용
from tqdm import tqdm_notebook
for file in tqdm_notebook(file_path_list_n) :
    exec("%s_10 = dust_mean_10(%s)" %(file.split("/")[-1].split(".")[0],file.split("/")[-1].split(".")[0]))
    exec("%s_25 = dust_mean_25(%s)" %(file.split("/")[-1].split(".")[0],file.split("/")[-1].split(".")[0]))

HBox(children=(IntProgress(value=0, max=17), HTML(value='')))

In [24]:
# 변수저장된 종로구 데이터 pm10과 pm25 데이터 가공 함수 적용
from tqdm import tqdm_notebook
for file in tqdm_notebook(file_path_list_j) :
    exec("%s_10 = dust_mean_10(%s)" %(file.split("/")[-1].split(".")[0],file.split("/")[-1].split(".")[0]))
    exec("%s_25 = dust_mean_25(%s)" %(file.split("/")[-1].split(".")[0],file.split("/")[-1].split(".")[0]))

HBox(children=(IntProgress(value=0, max=7), HTML(value='')))

In [32]:
# pm10 데이터 확인
교남동_10.head()

               pm10
date
20180401  67.465830
20180402  66.638579
20180403  64.696653
20180404  12.637955
20180405   9.552301

In [33]:
# pm25 데이터 확인
교남동_25.head()

               pm25
date
20180401  32.028591
20180402  25.959028
20180403  21.773611
20180404   7.268908
20180405   5.541841

In [78]:
# 각각의 데이터 합치는 예시
교남동 = pd.concat([교남동_10,교남동_25],axis=1)
type(교남동.corr().loc["pm10","pm25"])
교남동_result = pd.DataFrame()
교남동_result["교남동"] = [교남동.corr().loc["pm10","pm25"],교남동.corr().loc["pm10","pm25"]]
교남동_result.iloc[0,:]

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

교남동    0.902209
Name: 0, dtype: float64

In [69]:
# 위의 내용 참고하여 전체 모두 구하는 데이터 만들기
corr_df = pd.DataFrame()
for file in tqdm_notebook(file_path_list_n) :
    name = file.split("/")[-1].split(".")[0]
    exec('%s = pd.concat([%s_10,%s_25],axis=1)' %(name,name,name))
    exec('%s_result = pd.DataFrame()' %name)
    exec('%s_result["%s"]=[%s.corr().loc["pm10","pm25"],0]' %(name,name,name))
    exec('corr_df = pd.concat([corr_df,%s_result],axis=1)' %name)

# 위의 내용 참고하여 전체 모두 구하는 데이터 만들기
corr_df_2 = pd.DataFrame()
for file in tqdm_notebook(file_path_list_j) :
    name = file.split("/")[-1].split(".")[0]
    exec('%s = pd.concat([%s_10,%s_25],axis=1)' %(name,name,name))
    exec('%s_result = pd.DataFrame()' %name)
    exec('%s_result["%s"]=[%s.corr().loc["pm10","pm25"],0]' %(name,name,name))
    exec('corr_df_2 = pd.concat([corr_df_2,%s_result],axis=1)' %name)

HBox(children=(IntProgress(value=0, max=17), HTML(value='')))

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

HBox(children=(IntProgress(value=0, max=7), HTML(value='')))

In [75]:
# 노원구 상관 계수
corr_df.iloc[0,:]

공릉2동172     0.913725
상계10동       0.909963
상계1동        0.893681
상계2동332     0.923806
상계2동397     0.915845
상계34동       0.938319
상계5동156     0.894596
상계5동456     0.917454
상계67동734    0.900994
상계67동740    0.903835
상계67동767    0.926091
월계1동        0.921774
월계3동        0.902237
중계23동       0.923896
중계본동        0.915543
하계1동251     0.917893
하계1동280     0.855487
Name: 0, dtype: float64

In [74]:
# 종로구 상관계수
corr_df_2.iloc[0,:]

교남동        0.902209
명동         0.904946
숭인2동       0.907810
창신1동170    0.873851
평창동        0.902455
혜화동1       0.906246
혜화동72      0.893715
Name: 0, dtype: float64