In [3]:
import pandas as pd
import csv

In [4]:
def flow_df(file):
    with open(file, 'r', encoding='utf-8') as f:
        rdr = csv.reader(f, delimiter='|')
        df = []
        for i in rdr:
            df.append(i)
    try:
        df = [int(i) for i in df]
    except:
        df = [i for i in df]
    
    df = pd.DataFrame(df)
    
    del df[0]
    del df[2]
    df = df.drop(0) 
    
    # 문자열 -> 숫자
    for i in range(0,df.shape[1]):
        try:
            df.iloc[:,i] = pd.to_numeric(df.iloc[:,i])
        except:
            next
    # 열 이름 변경
    df.columns = ['Date','Dong','M_0004','M_0509','M_1014','M_1519','M_2024','M_2529','M_3034','M_3539','M_4044',
           'M_4549','M_5054','M_5559','M_6064','M_6569','M_7099','F_0004','F_0509','F_1014','F_1519','F_2024',
           'F_2529','F_3034','F_3539','F_4044','F_4549','F_5054','F_5559','F_6064','F_6569','F_7099']

    # 연령대 필드 정리
    df['M_0004'] = df.loc[:,'M_0004':'M_2024'].sum(axis=1)
    df['M_6569'] = df.loc[:,'M_6569':'M_7099'].sum(axis=1)
    df['F_0004'] = df.loc[:,'F_0004':'F_2024'].sum(axis=1)
    df['F_6569'] = df.loc[:,'F_6569':'F_7099'].sum(axis=1)

    df.drop(df.columns[[range(3,7)]], axis=1, inplace = True)
    df.drop(df.columns[[range(14,18)]], axis=1, inplace = True)
    df.drop(df.columns[[12,23]], axis=1, inplace = True)

    df = df.rename(columns = {'M_0004': 'M_0024'})
    df = df.rename(columns = {'F_0004': 'F_0024'})
    df = df.rename(columns = {'M_6569': 'M_6599'})
    df = df.rename(columns = {'F_6569': 'F_6599'})

    return df

In [5]:
len(flow_df("../data/유동인구데이터/성연령유동/노원_종로_FLOW_AGE_201805.csv").Date.unique())

C:\Users\yumincho\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:3968: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

31

In [6]:
flow_df("../data/유동인구데이터/성연령유동/노원_종로_FLOW_AGE_201805.csv").Dong.unique()

array(['청운효자동', '사직동', '삼청동', '부암동', '평창동', '무악동', '교남동', '가회동',
       '종로1.2.3.4가동', '종로5.6가동', '이화동', '혜화동', '창신1동', '창신2동', '창신3동',
       '숭인1동', '숭인2동', '월계1동', '월계2동', '월계3동', '공릉1동', '공릉2동', '하계1동',
       '하계2동', '중계본동', '중계1동', '중계4동', '중계2.3동', '상계1동', '상계2동', '상계3.4동',
       '상계5동', '상계6.7동', '상계8동', '상계9동', '상계10동'], dtype=object)

In [17]:
j_dong = ['청운효자동', '사직동', '삼청동', '부암동', '평창동', '무악동', '교남동', '가회동',
       '종로1.2.3.4가동', '종로5.6가동', '이화동', '혜화동', '창신1동', '창신2동', '창신3동',
       '숭인1동', '숭인2동']
n_dong = ['월계1동','월계2동','월계3동',
        '공릉1동','공릉2동',
        '하계1동','하계2동',
        '중계본동','중계1동','중계4동','중계2.3동',
        '상계1동','상계2동','상계3.4동','상계5동','상계6.7동','상계8동','상계9동','상계10동']

In [18]:
# 폴더 안에 있는 데이터 모두 대입해서 데이터 프레임 만들기
from os import listdir
from os.path import isfile, join

files = [f for f in listdir('../data/유동인구데이터/성연령유동/') if isfile(join('../data/유동인구데이터/성연령유동/', f))]
files
        
# 파일 경로명 리스트 생성하기
file_path_list = []
for file in files :
    path = '../data/유동인구데이터/성연령유동/'
    file_path_list.append(path+file)

data_j = pd.DataFrame()
data_n = pd.DataFrame()

for path in file_path_list :
    df = flow_df(path)
    df_j = df.loc[df.Dong.isin(j_dong)]
    df_n = df.loc[df.Dong.isin(n_dong)]
    data_j = pd.concat([data_j,df_j])
    data_n = pd.concat([data_n,df_n])

### Dong 정리
. 제거

In [33]:
for i in range(0,len(data_n)):
    data_n.iloc[i,1] = data_n.iloc[i,1].replace(".","")

In [38]:
data_n.Dong.unique()

array(['월계1동', '월계2동', '월계3동', '공릉1동', '공릉2동', '하계1동', '하계2동', '중계본동',
       '중계1동', '중계4동', '중계23동', '상계1동', '상계2동', '상계34동', '상계5동', '상계67동',
       '상계8동', '상계9동', '상계10동'], dtype=object)

In [36]:
for i in range(0,len(data_j)):
    data_j.iloc[i,1] = data_j.iloc[i,1].replace(".","")

In [37]:
data_j.Dong.unique()

array(['청운효자동', '사직동', '삼청동', '부암동', '평창동', '무악동', '교남동', '가회동',
       '종로1234가동', '종로56가동', '이화동', '혜화동', '창신1동', '창신2동', '창신3동', '숭인1동',
       '숭인2동'], dtype=object)

In [39]:
data_n.to_csv('../data/유동인구/성연령별_노원구_유동인구.csv', index=False, encoding='euc-kr')
data_j.to_csv('../data/유동인구/성연령별_종로구_유동인구.csv', index =False, encoding='euc-kr')