In [2]:
import pandas as pd
import numpy as np

# 유동인구

In [5]:
nowon = pd.read_csv('../data/유동인구/성연령별_노원구_유동인구.csv',encoding='euc-kr')
jonglo = pd.read_csv('../data/유동인구/성연령별_종로구_유동인구.csv',encoding='euc-kr')
# del nowon['Unnamed: 0']
# del jonglo['Unnamed: 0']

In [6]:
# 종로구
a = jonglo.groupby([jonglo.Date,jonglo.Dong]).sum()
jonglo_pop = pd.DataFrame(a.sum(axis=1))
jonglo_pop.reset_index(inplace=True)
# jldong의 이름으로 동별 데이터프레임 만들기
jldong = ['gahui','gyonam','muak','buam','sajik','samcheong','soongin_1','soongin_2','ewha','jonglo_1234','jonglo_56',
       'changsin_1','changsin_2','changsin_3','cwhyoja','pyeongchang','hyehwa']
# n = 0
# for file_path in file_path_list:
#     name = files[n].split('.')[0]
#     exec("%s = read_file('%s')" %(name,file_path)) 
#     n += 1
n=0
for dong in jonglo_pop['Dong'].unique():
    name = jldong[n]
    exec("%s = jonglo_pop[jonglo_pop['Dong']== '%s']" %(name,dong))
    n+=1

In [7]:
# 노원구
b = nowon.groupby([nowon.Date,nowon.Dong]).sum()
nowon_pop = pd.DataFrame(b.sum(axis=1))
nowon_pop.reset_index(inplace=True)
nwdong = ['gongleung_1','gongleung_2','sanggye_10','sanggye_1','sanggye_2','sanggye_34','sanggye_5','sanggye_67',
          'sanggye_8','sanggye_9','weolgye_1','weolgye_2','weolgye_3','joonggye_1','joonggye_23','joonggye_4','joonggyebon','hagye_1',
         'hagye_2']
n=0
for dong in nowon_pop['Dong'].unique():
    name = nwdong[n]
    exec("%s = nowon_pop[nowon_pop['Dong']== '%s']" %(name,dong))
    n+=1

# 미세먼지 노원구

In [9]:
nwdong2 = ['공릉1동','공릉2동','상계10동','상계1동','상계2동','상계34동','상계5동','상계67동','상계8동','상계9동','월계1동',
          '월계2동','월계3동','중계1동','중계23동','중계4동','중계본동','하계1동','하계2동']
for i in nwdong2:
    file_path = i + ".csv"
    exec("%s = pd.read_csv('../data/환경기상데이터/노원구/%s')" %(i,file_path))
    exec("%s.columns = ['date','pm10']" %i)
    exec("%s[['date']] = %s[['date']].astype(str)" %(i,i))
    exec("%s.set_index('date',inplace=True)" %i)

# 노원구와 유동인구 합치기

In [11]:
for i in range(19):
    exec("%s.set_index('Date',inplace=True)" %(nwdong[i]))
    exec("%s.index = %s.index.astype(int)" %(nwdong2[i],nwdong2[i]))

In [12]:
for i in range(19):
    exec("%s = pd.concat([%s,%s],axis=1)" %(nwdong2[i],nwdong[i],nwdong2[i]))

In [13]:
공릉1동.index = 공릉1동.index.astype(str)
공릉1동.index

Index(['20180401', '20180402', '20180403', '20180404', '20180405', '20180406',
       '20180407', '20180408', '20180409', '20180410',
       ...
       '20190322', '20190323', '20190324', '20190325', '20190326', '20190327',
       '20190328', '20190329', '20190330', '20190331'],
      dtype='object', length=365)

In [14]:
import datetime

# 미세먼지 종로구

In [15]:
jldong2 = ['가회동','교남동','무악동','부암동','사직동','삼청동','숭인1동','숭인2동','이화동','종로1234가동','종로56가동',
           '창신1동','창신2동','창신3동',
          '청운효자동','평창동','혜화동']
for i in jldong2:
    file_path = i + ".csv"
    exec("%s = pd.read_csv('../data/환경기상데이터/종로구/%s')" %(i,file_path))
    exec("%s.columns = ['date','pm10']" %i)
    exec("%s[['date']] = %s[['date']].astype(str)" %(i,i))
    exec("%s.set_index('date',inplace=True)" %i)

# 종로구와 유동인구 합치기

In [17]:
for i in range(17):
    exec("%s.set_index('Date',inplace=True)" %(jldong[i]))
    exec("%s.index = %s.index.astype(int)" %(jldong2[i],jldong2[i]))

In [18]:
for i in range(17):
    exec("%s = pd.concat([%s,%s],axis=1)" %(jldong2[i],jldong[i],jldong2[i]))

In [19]:
# 5,6이 주말

for i in range(19):
    exec("%s.index = %s.index.astype(str)" %(nwdong2[i],nwdong2[i]))
    for n in range(365):
        try:
            exec("number=int(datetime.date(int(%s.index[n][:4]),int(%s.index[n][4:6]),int(%s.index[n][6:8])).weekday())" %(nwdong2[i],nwdong2[i],nwdong2[i]))
            if (number==5) or (number==6):
                exec("%s.drop(%s.index[n],inplace=True)" %(nwdong2[i],nwdong2[i]))
        except:
            pass

for i in range(17):
    exec("%s.index = %s.index.astype(str)" %(jldong2[i],jldong2[i]))
    for n in range(365):
        try:
            exec("number=int(datetime.date(int(%s.index[n][:4]),int(%s.index[n][4:6]),int(%s.index[n][6:8])).weekday())" %(jldong2[i],jldong2[i],jldong2[i]))
            if (number==5) or (number==6):
                exec("%s.drop(%s.index[n],inplace=True)" %(jldong2[i],jldong2[i]))
        except:
            pass

# 상관계수 구하기

In [20]:
# 종로구
# 상관계수 표 각각 만들기
for i in range(17):
    exec("%s = %s.corr(method='pearson')" %(jldong[i],jldong2[i]))

In [23]:
jonglo_corr = pd.DataFrame(columns=jldong2)

In [24]:
# 한 데이터프레임에 상관계수 합치기
for i in range(17):
    exec("jonglo_corr['%s']=[%s['pm10'][0]]" %(jldong2[i],jldong[i]))

In [25]:
jonglo_corr

,가회동,교남동,무악동,부암동,사직동,삼청동,숭인1동,숭인2동,이화동,종로1234가동,종로56가동,창신1동,창신2동,창신3동,청운효자동,평창동,혜화동
0,-0.041066,-0.162183,0.097532,-0.537474,-0.270163,0.210014,-0.371013,-0.14543,-0.065525,-0.12863,-0.187432,-0.146648,0.207217,0.14699,-0.228789,-0.215641,-0.429102

In [26]:
# 노원구
# 상관계수 표 각각 만들기
for i in range(19):
    exec("%s = %s.corr(method='pearson')" %(nwdong[i],nwdong2[i]))

In [27]:
# 한 데이터프레임에 상관계수 합치기
nowon_corr = pd.DataFrame(columns=nwdong2)
for i in range(19):
    exec("nowon_corr['%s']=[%s['pm10'][0]]" %(nwdong2[i],nwdong[i]))

In [28]:
nowon_corr

,공릉1동,공릉2동,상계10동,상계1동,상계2동,상계34동,상계5동,상계67동,상계8동,상계9동,월계1동,월계2동,월계3동,중계1동,중계23동,중계4동,중계본동,하계1동,하계2동
0,-0.219826,0.109592,-0.221312,-0.151253,-0.281383,-0.387641,-0.299013,-0.090964,0.018345,-0.347932,-0.150993,-0.289722,0.005481,-0.220597,-0.047657,-0.01865,0.284461,-0.114706,0.049462

In [29]:
nowon_corr.mean(axis=1)

0   -0.124964
dtype: float64

In [30]:
jonglo_corr.mean(axis=1)

0   -0.133373
dtype: float64