In [1]:
import pandas as pd
import numpy as np

In [3]:
import googlemaps
import pandas as pd
import numpy as np
import folium
gmaps_key = 'AIzaSyAyfrZuN-fsgYpg0f6mLB7jVyGGVWo5hYY'
gmaps = googlemaps.Client(key=gmaps_key)

In [73]:
bus = pd.read_excel('C:/Users/student/Desktop/20190124기준_서울시_버스노선정보.xls')
bus.head(6)

,노선ID,노선명,순번,구간ID,정류소ID,ARS-ID,정류소명,X좌표,Y좌표
0,100100124,0017,1,0,102000271,3689,청암자이아파트,126.946517,37.534363
1,100100124,0017,2,102700549,102000204,3298,청암동강변삼성아파트,126.949304,37.533961
2,100100124,0017,3,102700550,102000227,3321,청심경로당,126.950449,37.533744
3,100100124,0017,4,102700551,102000210,3304,원효2동주민센터,126.950904,37.534278
4,100100124,0017,5,102700552,102000212,3306,산천동,126.953984,37.535420
5,100100124,0017,6,102700553,102000214,3308,신창동세방아파트,126.955032,37.535749

In [ ]:
from tqdm import tqdm_notebook
gu=[]

for index, row in tqdm_notebook(bus.iterrows()):
    sample = gmaps.reverse_geocode((row.Y좌표, row.X좌표), language = 'ko')
    result = sample[3].get('formatted_address')

    tmp = result.split()
    
    try:
        tmp_gu = [gu for gu in tmp if gu[-1] == '구'][0]
    except:
        tmp_gu = sample[0].get('formatted_address')
    gu.append(tmp_gu)
#     if len(gu)==30:
#         break
gu

bus['구']=gu
bus.tail()

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [66]:
bus['노선명'][bus['구']=='종로구'].unique()

array(['100', '101', '1014', '102', '1020', '103', '104', '105', '106',
       '107', '108', '109', '110A고려대', '110B국민대', '140', '142', '143',
       '144', '150', '151', '152', '153', '160', '162', '171', '1711',
       '172', '173', '201', '2014', '2112', '2233', '260', '261', '262',
       '270', '271', '272', '273', '301', '370', '401', '402', '406',
       '420', '421', '470', '501', '600', '6002', '6005', '601', '6011',
       '602', '606', '6702', '700', '701', '7016', '7018', '7019', '7021',
       '7022', '7025', '702A서오릉', '702B용두초교', '704', '705', '707', '708',
       '710', '720', '721', '7211', '7212', '741', '752', '7730', '9401',
       '9403', '9701', '9703', '9709', '9714', 'N13', 'N15', 'N16', 'N26',
       'N30', 'N37', 'N62', '서대문08', '서대문11', '종로01', '종로02', '종로03',
       '종로05', '종로06', '종로07', '종로08', '종로09', '종로11', '종로12', '종로13'],
      dtype=object)

In [67]:
bus['노선명'][bus['구']=='노원구'].unique()

array(['100', '1017', '102', '103', '105', '1120', '1122', '1129', '1130',
       '1131', '1132', '1133', '1135', '1136', '1137', '1138', '1139',
       '1140', '1141', '1142', '1143', '1144', '1154', '1155', '1156',
       '1167', '1221', '1222', '1224', '1227', '146', '147', '172', '173',
       '202', '2113', '2114', '261', '6011', '6100', '6101', 'N13', 'N61',
       '노원01', '노원02', '노원03', '노원04', '노원05', '노원08', '노원09', '노원11',
       '노원13', '노원14', '노원15', '도봉09', '성북14-1'], dtype=object)

In [ ]:
bus.to_csv('C:/Users/student/Desktop/버스노선정보_구추가.csv')